<div class="mainblock">
  <div class="main text-center">
    <div>
      <img class="upside" src="assets/Group 5.png" />
      <img class="logo" alt="zoomlogo" src="assets/Group 4.png" />
    </div>
  </div>

  <ng-template #estimateTemplate>
    <div class="container-fluid">
      <div class="mainbox">
        <div class="innerbox row">
          <div class="col-12 question">
            <span class="q1">Q:{{questionNumber}} </span>
            <span class="q2">{{questionToShow}}</span>
          </div>
          <div class="col-12">
            <div #l class="row answers">
              <div #r (click)='choose(r,l)' id="{{i}}" class="col-5 option" *ngFor='let que of answersToShow;let i = index'>
                <img class="hideStatusImg img-pos" src="assets/Group.png" alt="correctAnswer" />
                <img class="hideStatusImg img-pos" src="assets/Group 3.png" alt="incorrectAnswer" />
                {{que}}
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="btn" [ngClass]="{'btn-choose':avail}">
                  <button #btn type="button" class="col-12 btn-style" (click)="onSubmit(btn,indicators)">OK</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <div class="indicators">
    <ol #indicators class="carousel-indicators">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ol>
  </div>

  <ng-container *ngTemplateOutlet="estimateTemplate">
  </ng-container>

  <div>
    <div class="main text-center">
      <img class="footer-img" src="assets/Group 5.png">
    </div>
  </div>
</div>